<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Robot Sweatshop's Reporter</title>
</head>

<body>
  <h1>Log Index</h1>
  <ul>
  <% for log in logs %>
    <li><a href="/reporter/<%= log %>"><%= log %></a></li>
  <% end %>
  </ul>
</body>
</html>
